@font-face {
    font-family: 'Open Sans';
    src: url('./media/main.woff');
}

// SHARED BG COLORS
$shared_bg: rgb(228, 228, 228);
$paddings: 6px 8px;

*, body, h1, div, table, tr, td, input, li, button, span, form {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 13px 'Open Sans', verdana;
    color: rgb(34, 34, 34);
    outline: none;
    border: 0px solid black;
}

body {
    background: #F1F1F1;
}

a:link, a:visited {
    color: rgb(38, 103, 163);
    text-decoration: none;
    transition: background 0.2s;
}

a:hover {
    color: rgb(33, 77, 119);
    background: #F1F1F1;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .container {
        flex: 1;
        overflow: auto;
    
        > div {
            padding: 10px;
            flex: 1;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
    
            .wrapper {
                background: white;
                padding: 3px;
                border: 1px solid rgba(0, 0, 0, 0.171);
                margin-bottom: 10px;
    
                .header {
                    font-size: 15px;
                    text-transform: uppercase;
                    background: #414141c5;
                    border-bottom: 2px solid #2c2c2c5e;
                    padding: 6px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: #F1F1F1;
                    text-shadow: 1px 1px #242424;
                    cursor: pointer;
                    display: flex;

                    >div {
                        flex: 1;
                        color: #F1F1F1;
                        text-shadow: 1px 1px #242424;
                    }

                    >div:last-child {
                        text-align: right;
                    }
                }
        
                .blog {
                    display: flex;
                    flex-direction: column;
                    background: $shared_bg;
                    padding: 4px;
                    border-top: 3px solid white;
    
                    .row {
                        background: white;
                        display: flex;
                        padding: $paddings;
                        border-bottom: 2px solid #3636363d;
                        margin-bottom: 4px;
    
                        div:last-child {
                            flex: 1;
                            text-align: right;
                        }
                    }
    
                    .row:last-child {
                        margin: 0px;
                    }
    
                    .actions {
                        padding: 0px;
                        display: flex;
                        
                        >div {
                            background: white;
                            flex: 1;
                            padding: $paddings;
                            text-transform: uppercase;
                            border-bottom: 2px solid #3636363d;
                            text-align: center;
                            cursor: pointer;
                            margin-right: 4px;
                        }
    
                        .remove, .dislike {
                            background: rgba(214, 1, 1, 0.164);
                        }
    
                        .update, .like {
                            background: rgba(0, 112, 0, 0.212);
                        }

                        >div:last-child {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
}
