@font-face {
    font-family: 'Open Sans';
    src: url('../interface/main.woff');
}

// SHARED BG COLORS
$shared_bg: rgb(228, 228, 228);
$paddings: 6px 8px;

*, body, h1, div, table, tr, td, input, li, button, span, form {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 13px 'Open Sans', verdana;
    color: rgb(34, 34, 34);
    outline: none;
    border: 0px solid black;
}

body {
    background: #F1F1F1;
}

.container, .container2 {
    display: flex;
    height: 100vh;
    max-width: 700px;
    width: 100%;
    margin: auto;

    > div {
        flex: 1;
        padding: 10px;

        .wrapper {
            background: white;
            padding: 3px;
            border: 1px solid rgba(0, 0, 0, 0.171);
            margin-bottom: 10px;
            text-shadow: 1px 1px white;

            .header {
                font-size: 15px;
                text-transform: uppercase;
                background: #414141c5;
                border-bottom: 2px solid #2c2c2c5e;
                padding: 6px;
                padding-left: 10px;
                padding-right: 10px;
                color: #F1F1F1;
                text-shadow: 1px 1px #242424;
            }
    
            .form {
                background: $shared_bg;
                border-top: 2px solid white;
                padding: 6px;
                padding-bottom: 0px;
    
                form {
                    input {
                        padding: $paddings;
                        width: 100%;
                        border-bottom: 2px solid #3636363d;
                        margin-bottom: 6px;
                        transition: border 0.2s;
                    }
                    
                    input:focus {
                        border-bottom: 2px solid rgba(0, 112, 0, 0.452);
                    }

                    .submit {
                        background: rgba(235, 255, 59, 0.61);
                        background: rgb(244, 255, 145);
                        border-bottom: 2px solid #36363625;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }
    
            .phonebook {
                .item {
                    background: rgba(8, 85, 179, 0.199);
                    display: flex;
                    padding: $paddings;
                    border-bottom: 2px solid #00000010;
                    margin-top: 2px;
    
                    > div {
                        flex: 1;
                        text-align: right;
                        padding-left: 8px;
                    }
    
                    div:first-child {
                        text-align: left;
                        padding-left: 0px;
                    }

                    div:last-child {
                        flex: none;
                    }

                    .trigger {
                        cursor: pointer;
                    }

                    .trigger:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    > div:nth-child(1) {
        padding-right: 5px;
    }
    
    > div:nth-child(2) {
        padding-left: 5px;
    }
}

.container2 {
    justify-content: center;
    align-items: center;
    max-width: 350px;

    >div {
        padding: 0px;
        margin: 0px;
    }
}

.notifications {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 30px;
    z-index: -100;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >div {
        border: 2px solid white;
        margin-top: 4px;
        width: 300px;
        flex: 1;
        padding: 0px;

        .positive, .negative, .default {
            background: rgba(6, 136, 6, 0.26);
            border-bottom: 2px solid #00000010;
            padding: $paddings;
        }
    
        .negative {
            background: rgba(214, 1, 1, 0.171);
        }
    }

}