body, h1, div, table, tr, td, input, li, button, span {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 20px;
}

.splitter {
    display: flex;
    width: 100%;

    div {
        flex: 1;
        padding: 3px;
    }
}

.row {
    padding: 3px;
}

input, button {
    margin-top: 5px;
    padding: 5px;
}

input {
    min-width: 200px;
}

button {
    cursor: pointer;
}

#notification {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.positive {
    background: green;
}

.negative {
    background: red;
}