@font-face {
    font-family: 'Open Sans';
    src: url('./main.woff');
}

*, body, h1, div, table, tr, td, input, li, button, span, form {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 13px 'Open Sans', verdana;
    color: rgb(34, 34, 34);
    outline: none;
    border: 0px solid black;
}

body {
    background: #F1F1F1;
}

a:link, a:visited {
    color: rgb(38, 103, 163);
    text-decoration: none;
    transition: background 0.2s;
}

a:hover {
    color: rgb(33, 77, 119);
    background: #F1F1F1;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    #content {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    #container {
        overflow: auto;
        padding: 10px;
    }
}