body, h1, div, table, tr, td, input, li {
    margin: 0px;
    padding: 0px;
}

input {
    padding: 8px;
    min-width: 200px;
    outline: none;
    border: 1px solid black;
    background: #F1F1F1;
}

h1 {
    font-size: 23px;
}

.splitter {
    background: #CECECE;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    div:nth-child(odd) {
        flex: 1;
    }
}

.result {
    padding: 30px;
}

.list {
    display: flex;
    flex-direction: column;

    div {
        flex: 1;
    }
}

.padded {
    min-width: 100px;
    display: inline-block;
}

img {
    border: 1px solid black;
}

li {
    margin-left: 10px;
}