#menu {
    display: flex;
    text-transform: uppercase;
    background: #414141c5;
    border-bottom: 2px solid #2c2c2c28;

    >div {
        margin: auto;

        a:link, a:visited, a:hover {
            background: none;
        }

        li {
            background-color: rgba(0, 0, 0, 0);
            display: inline-block;
            padding: 10px 16px;
            color: white;
            cursor: pointer;
            text-shadow: 1px 1px #242424;
            transition-property: background-color, color;
            transition-duration: 0.3s, 0.3s;
        }
    
        li:hover {
            background-color: rgba(2, 2, 2, 0.151);
            color: rgb(174, 248, 166);
        }
    }

}