$paddings: 6px 8px;
$outer: 3px;
$inner: 4px;
$shared_bg: rgb(228, 228, 228);

#wrapper {
    transition: transform 0.2s;
    background: white;
    padding: $outer;
    border: 1px solid rgba(0, 0, 0, 0.185);

    #header {
        text-transform: uppercase;
        background: #414141c5;
        border-bottom: 2px solid #2c2c2c52;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        color: #F1F1F1;
        text-shadow: 1px 1px #242424;
    }

    #content {
        background: rgb(228, 228, 228);
        margin-top: $outer;
        padding: $inner;

        #blog {
            .row {
                background: white;
                display: flex;
                padding: $paddings;
                border-bottom: 2px solid #3636363d;
                margin-bottom: 4px;

                >div:last-child {
                    text-align: right;
                    flex: 1;
                }
            }

            .row:last-child {
                margin: 0px;
            }
        }

        #actions {
            padding: 0px;
            display: flex;
            padding-top: $outer;
            
            .action {
                background: white;
                flex: 1;
                padding: $paddings;
                text-transform: uppercase;
                border-bottom: 2px solid #3636363d;
                text-align: center;
                cursor: pointer;
                margin-right: $outer;
            }

            .action:last-child {
                margin: 0px;
            }

            #remove, #dislike {
                background: rgba(214, 1, 1, 0.164);
            }

            #update, #like {
                background: rgba(0, 112, 0, 0.212);
            }
        }
    }

    input {
        background: white;
        padding: $paddings;
        margin-bottom: $inner;
        border-bottom: 2px solid #3636363d;
        transition: border 0.2s;
        width: 100%;
    }
    
    input:focus {
        border-bottom: 2px solid rgba(0, 112, 0, 0.452);
    }
    
    input:last-child {
        margin: 0px;
    }
    
    #submit {
        background: rgba(0, 112, 0, 0.295);
        border-bottom: 2px solid #36363625;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.2s;
        padding: $paddings;
        width: 100%;
        margin-top: $outer;
    }
    
    #submit:disabled {
        background: rgba(214, 1, 1, 0.164);
        cursor: default;
    }
}